<table id="summary-table" class="table table-striped">
    <thead>
        <tr>
            <th colspan="4"></th>
            <th colspan="2">ATM</th>
            <th colspan="1"></th>
            <th colspan="2">CBS</th>
            <th colspan="1"></th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Terminal</th>
            <th>Card No</th>
            <th>Trace No</th>
            <th class="rightTextAlign">Amount</th>
            <th class="centerTextAlign">Response Code</th>
            <th>Status</th>
            <th class="rightTextAlign">Amount</th>
            <th class="centerTextAlign">Response Code</th>
            <th>Remarks</th>
    </thead>
    <tbody></tbody>
</table>