<table id="summary-table" class="table table-striped">
    <thead>
        <tr>
            <th colspan="5"></th>
            <th colspan="2">NPN</th>
            <th colspan="2">CBS</th>
            <th colspan="2">VISA</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Terminal</th>
            <th>Card No</th>
            <th>Trace No</th>
            <th>Status</th>
            <th class="rightTextAlign">Amount</th>
            <th class="centerTextAlign">Response Code</th>
            <th class="rightTextAlign">Amount</th>
            <th class="centerTextAlign">Response Code</th>
            <th class="rightTextAlign">Amount</th>
            <th class="centerTextAlign">Response Code</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
