@model IEnumerable<Db.IdentityLibrary.DataModel.AspNetRoles>
@{
    ViewBag.Title = "User";
    ViewBag.MenuTitle = "User";
}
@Html.ActionLink("Create Role", "Create", "Role")
<div class="card">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="UserRoleTable" style="margin-top: 75px">
                    <thead>
                        <tr>
                            <th class="textCenter">Name</th>
                            <th class="textCenter">Action</th>
                        </tr>
                    </thead>
                    @foreach (var role in Model)
                   {
                        <tr>
                            <td>@role.Name</td>
                            <td>
                                <a class="btn btn-warning" href="/Role/Update?roleId=@role.Id">Update Role</a>
                                <a class="btn btn-danger" href="/Role/Delete?roleId=@role.Id">Delete Role</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>

        <div>
            @Html.ActionLink("Back to List", "Index", "User")
        </div>
    </div>
</div>
