<table id="summary-table" class="table table-striped">
    <thead>
        <tr>
            <th colspan="5"></th>
            <th colspan="2">ATM</th>
            <th colspan="2">SCT</th>
            <th colspan="2">CBS</th>
        </tr>
        <tr>
            <th>Date</th>
            <th>Terminal</th>
            <th>Card No</th>
            <th>Trace No</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Response Code</th>
            <th>Amount</th>
            <th>Response Code</th>
            <th>Amount</th>
            <th>Response Code</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>